spring:
  application:
    name: h3-project

  datasource:
    driver-class-name: org.postgresql.Driver
    url: jdbc:postgresql://localhost:5432/h3_project_db
    username: postgres
    password: postgres

  jpa:
    hibernate:
      ddl-auto: validate
    show-sql: true
    properties:
      hibernate:
        format_sql: true

  flyway:
    enabled: true
    baseline-on-migrate: true
    locations: 'classpath:db.migration'

logging:
  level:
    org.flywaydb: DEBUG

server:
  port: 8080